

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  
  @font-face {
    font-family: Roboto;
    src: url("../assets/fonts/Roboto-Light.ttf");
  }
  
  body{
    background-color: #e4f2fb;
    padding: 10rem;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  svg:hover{
      cursor: pointer;
  }
  .reproductor {
    width: 310px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 9px 9px 16px rgba(102, 104, 106, 0.6),
      -9px -9px 16px rgba(102, 104, 106, 0.5);
  }
  .options{
    width: 100%;
    background-image: url("../assets/fondo.jpeg");
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .reproductor_options{
    width: 100%;
    height: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .labels{
      h4{
        color: red;
      }
      p{
        color: gray
      }
    }
    .reproductor_actions{
      display: flex;
      
      justify-content: space-evenly;
      padding: 3rem;
      .backward, .forward{
          svg{
              color: #d2d2d2;
          }
      }
      .play{
          svg{
              color:red;
          }
      }
      .pause{
        display: none;
      }
      .backward, .forward{
        width: 40px;
        height: 40px;
        text-align: center;
        border-radius: 20px;

        padding-top: .5rem;
    
        background-color: white;
        box-shadow: 1px 4px 11px 1px rgb(0 0 0 / 20%);
    }
      .play{
        width: 50px;
        height: 50px;
        text-align: center;
        border-radius: 27px;
        box-shadow: 1px 4px 11px 1px rgb(0 0 0 / 20%);

        // padding-top: .5rem;
        background-color: white;
        // box-shadow: -1px 1px 20px 6px rgb(250 252 255 / 60%), 1px 20px 20px 0px rgb(148 158 169 / 50%);
      }
      
    }
    .reproductor_menus{
      display: flex;
      justify-content: space-around;
      svg{
          color: #d2d2d2;
      }
    }
  }
  .icons_options{
    width: 95%;
    display: flex;
    justify-content: space-between;
    margin: .5rem;
    svg{
      color: white;
    }
  }
  
  
  
  // input range style
  
  .level{
      width: 80%;
      margin: 0.5rem auto;
      
      -webkit-appearance: none;
      background: white;
      height: 3px;
      border-radius: 10px;
      background-image:linear-gradient(to right, red calc(var(--value)*1%), white 0);
  }
  .level:focus{
      outline: none;
  }
  // responsive
  
  
  @media(max-width: 390px) {
      body{
          padding: 0;
          background-color: white;
      }
      .container{
          width: 100%;
          height: 100vh;
      }
      .reproductor{
          width: 100%;
          height: 100%;
      }
      .options{
          width: 100%;
          height: 50%;
      }
  }
  //